body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.topline {
    float: left;
}


h1 {
    float: left;
    background-color: #4aaaa5;
    color: white;
    padding: 30px;
    height: 30px;
    width: 200px;
    margin-right: 300px;
    margin-bottom: 0px;
    text-align: center;
}

.wrapper {
    background: url("assets/images/crossline-dots.png" repeat top left;)
}

#links {
    float: right;
    padding: 30px;
    height: 30px;
    width: 50px;
}

a {
    color: #777777;
    padding: 30px;
    height: 30px;
    width: 50px;
    text-decoration: none;   
}

h2 {
    clear: both;
    color: #4aaaa5;
}

.body {
    border-top: 5px solid gray;
    float: left;
}

#picture {
    float: left;
    margin-right: 10px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin: auto;
    font-size: 24px;
}

.images {
    height: 100% auto;
    width: 960px;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 10px;
    background-color: #666666;
    color: white;
    border-top: 5px solid #4aaaa5;
    padding: 20px;
    margin: 20px, 10px, 5px, 10px;
}

form {
    width: 960px;
    margin-bottom: 20px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}